/* nav */
.nav-menu {
  display: flex;
  align-items: center;
  position: static;
  height: 60px;
  width: 100%;
  background-color: aquamarine;
  justify-content: space-between;
}

.nav-menu img {
  height: 90%;
  padding: 30px;
}

.nav-menu p {
  font-weight: 600;
  padding: 30px;
}

/* card */
.grid-cards {
  margin: 0px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 10px;
  justify-items: center;
}

.card-post {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 305px;
  background: white;
  padding: 15px;
  color: black;
  border-radius: 8px;
  margin: 10px;
}

.card-post img {
  grid-column: 1/4;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.card-post span {
  padding: 10px;
  grid-column: 1/4;
  align-items: center;
  justify-content: center;
}