.nav-menu {
  display: flex;
  align-items: center;
  position: sticky;
  height: 60px;
  width: 100%;
  background-color: aquamarine;
  justify-content: space-between;
}

main {
  margin: 0;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error h2 {
  font-size: 40px;
  color: black;
  padding: 25px;
  background-color: red;
}